{% extends "base.html" %}

{% block content %}
  <div class="d-flex justify-content-center" style="flex-direction: column; align-items: center;">
    <div>
      <h1>Task Manager</h1>
    </div>
    <div>
      <p>Welcome to the most versatile tool for managing your work tasks</p>
    </div>
    <br>
      <div><p>Available tasks: <strong>{{ num_tasks_not_completed }}</strong></p></div>
      <div><p>Active projects: <strong>{{ num_projects }}</strong></p></div>
      <div><p>Teams: <strong>{{ num_teams }}</strong></p></div>
      <div><p>Workers: <strong>{{ num_workers }}</strong></p></div>
  </div>
{% endblock %}
