{% extends "base.html" %}

{% block content %}
  <h1>Projects</h1>
    {% if project_list %}
      {% include "includes/search.html" %}
      <a href="{% url 'manager:project-list' %}" class="btn btn-secondary">Reset</a>
      <ul>
        {% for project in project_list %}
          <li>
            <a href="{% url 'manager:project-detail' pk=project.id %}">
              {{ project.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
    <p>No projects found.</p>
    {% endif %}
    {% if perms.project.add_project %}
        <a href="{% url 'manager:project-create' %}" class="btn btn-primary">Add project</a>
    {% endif %}
{% endblock %}
