{% extends "base.html" %}

{% block content %}
  <h1>{{ task.name }}</h1>
  <p>{{ task.description }}</p>
  <p>{{ task.deadline }}</p>
  <p>{{ task.is_completed|yesno:"Completed,Not Completed" }}</p>
  <p>{{ task.priority }}</p>
  <p>{{ task.task_type.name }}</p>
  <p>{{ task.project.name }}</p>
  {% if task.assignees %}
    <ul>
      {% for assignee in assignees %}
        <li>
          First name: {{ assignee.first_name }}
          Last name: {{ assignee.last_name }}
          Position: {{ assignee.position.name }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
  <p>No tasks found.</p>
  {% endif %}
{% endblock %}