{% extends "base.html" %}

{% block content %}
  <h1>{{ worker.first_name }} {{ worker.last_name }}</h1>
  {% if worker.is_manager %}
    <p><strong>Manager</strong></p>
  {% endif %}
  <p>Email: {{ worker.email }}</p>
  <p>Position: {{ worker.position.name }}</p>
  <p>Team: {{ worker.team.name }}</p>
  <p>Tasks:</p>
    {% for task in worker.tasks.all %}
      <hr>
      <p>
        {{ task.name }}
      </p>
    {% empty %}
      <p>No tasks assigned.</p>
    {% endfor %}

  {% if perms.worker.add_worker %}
    {% if worker.is_manager %}
      <form action="" method="post">
        {% csrf_token %}
      <input type="submit" value="Remove from managers" class="btn btn-danger">
    </form>
    {% else %}
      <form action="" method="post">
        {% csrf_token %}
        <input type="submit" value="Make manager" class="btn btn-success">
      </form>
    {% endif %}
  {% endif %}

  {% if user.id == worker.id or perms.worker.add_worker %}
    <a href="{% url 'manager:worker-update' pk=worker.id %}" class="btn btn-secondary">Edit worker</a>
  {% endif %}
  {% if user.id == worker.id %}
    <a href="{% url 'password_change'%}" class="btn btn-secondary">Change password</a>
  {% endif %}
  {% if perms.worker.delete_worker %}
    <a href="{% url 'manager:worker-delete' pk=worker.id %}" class="btn btn-danger">Delete worker</a>
  {% endif %}


{% endblock %}
