{% extends "base.html" %}

{% block content %}
  <h1>{{ task.name }}</h1>
  <p>Description: {{ task.description }}</p>
  <p>Due: {{ task.deadline }}</p>
  <p>Completion: {{ task.is_completed|yesno:"Completed,Not Completed" }}</p>
  <p>Priority: {{ task.get_priority_display }}</p>
  <p>Task Type: {{ task.task_type.name }}</p>
  <p>Project name: <a href="{% url 'project:project-detail' pk=task.project.id %}">{{ task.project.name }}</a></p>
  <h5>Assignees:</h5>
    <ul>
      {% for assignee in task.assignees.all %}
        <li>
          First name: {{ assignee.first_name }}
          Last name: {{ assignee.last_name }}
        </li>
      {% empty %}
      <li>No assignees</li>
      {% endfor %}
    </ul>
  {% if user in task.assignees.all %}
    <form action="" method="post">
      {% csrf_token %}
    <input type="submit" value="Unassign me from this task" class="btn btn-danger">
  </form>
  {% else %}
    <form action="" method="post">
      {% csrf_token %}
      <input type="submit" value="Assign me to this task" class="btn btn-success">
    </form>
  {% endif %}
  <a href="{% url 'task:task-update' pk=task.id %}" class="btn btn-secondary">Edit task</a>
  <a href="{% url 'task:task-delete' pk=task.id %}" class="btn btn-danger">
      Delete task
  </a>

{% endblock %}
