{% extends "base.html" %}

{% block content %}
  <h1>Tasks</h1>
    {% include "includes/search.html" %}
    {% if task_list %}
    <a href="{% url 'task:task-list' %}" class="btn btn-secondary">Reset</a>
    <a href="{% url 'task:task-create' %}" class="btn btn-primary">
      Add a new task
    </a>
      <ul>
        {% for task in task_list %}
          <li>
            <a href="{% url 'task:task-detail' pk=task.id %}">
              Task name: {{ task.name }}
              Project name: {{ task.project.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
    <p>No tasks found.</p>
    {% endif %}
{% endblock %}
